.header-container {
  height: var(--header-container-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 70px;
  padding-right: 200px;
  padding-top: 50px;
}

.droplet-logo {
  padding-left: 200px;
}