.App-footer {
  margin-top: auto;
  height: var(--footer-container-height);
  position: sticky;
  bottom: 0;
  z-index: 10;
  font-size: 0.75rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
}

.App-footer-name {
  font-style: italic;
  text-decoration: underline;
}

.social-links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.social-logo {
  height: 18px;
  width: 18px;
}